@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@500;600;700&family=Great+Vibes&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Joan&family=Ultra&display=swap');

/* .col-1 {
  grid-area: col-1;
}

.col-2 {
  grid-area: col-2; 
}

.col-3 {
  grid-area: col-3;
} */


@media (max-width: 1300px) {
  .col-1{
    width: 24%;
  }
  .col-2{
    width: 55%;
  }
  .col-3{
    width: 17%;
  }
  .main_level-1 {
    font-size: 16px;
    line-height: normal;
    word-spacing: 0px;
  }

  /* .nav-user{
    display: none;
  } */
  .nav-section:nth-child(1) {
    width: 46%;
  }

  .nav-section:nth-child(2) {
    width: 39%;
  }

  .nav-section {
    font-size: 20px;
  }

  .nav-logo {
    font-size: 28px;
  }

  .title-item {
    line-height: 50px;
  }
}

@media (max-width: 1100px) {
  .col-1{
    width: 20%;
  }
  .col-2{
    width:67%;
  }
  .col-3{
    width: 13%;
  } 
   .main_level-1 {
    font-size: 12px;
  }
  .nav-section:nth-child(1) {
    width: 46%;
  }
  .nav-section:nth-child(2) {
    width: 43%;
  } 
  .nav-section {
    font-size: 13px;
  }
  .nav-logo {
    font-size: 20px;
  }
  .title-item,
  .col-3 .title-item {
    line-height: normal;
  }
  .btn-level-1-btn,
  .fa-brands {
    font-size: 20px;
  }
}
@media (max-width: 950px) {
  .col-1{
    width: 28%;
  }
  .col-2{
    width:53%;
  }
  .col-3{
    width: 19%;
  } 
}
  

@media (min-width: 768px) {}
@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }
  .main_level-1 {
    display: flex;
    flex-direction: column 
  }
  .col-1,.col-2,.col-3{
    width: 95%;
  }
 
  

}
